.footer {
  background-color: #24416B;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  margin-left: 240px;
  padding-left: 1rem;
  width: calc(100% - 240px);
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jp-text {
  font-size: 0.9rem;
  color: #b0b9c5;
  margin-top: -1rem;
}

.footer-anchor {
  width: 64px;
  height: 64px;
  opacity: 0.9;
}

